<div class="col-sm-12 single">
    <h1><%= title %></h1>
    <h3>Details of a Single Category</h3>
    <p>I am a category for this ID = <%= category.id %></p>
    <p>Name: <%= category.name %></p>
    <p>Specification:<%= category.specification %></p>
    <% if(category.posts.length == 0) { %>
      <h2>There are no posts under this category yet </h2>
  <% } else { %>
      <h2>All Posts in this Category</h2>
      <div class="">
          <ol>
          <% category.posts.forEach(function(post) { %>
                  <li>
                      <p><%= post.post_title %>
                         <%= post.post_body %>
                          <br/><a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                      </p>
                  </li>
              <br/>
          <% }); %>
          </ol>
      </div>    
   <% } %>
    <a href="/blog/category/<%= category.id %>/update">Edit category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete category</a>
</div>