

<div class="col-sm-12 single">
    <h1><%= title %></h1>
    <h3>Details of a Single Post</h3>
    <p>I am a post for this ID = <%= post.id %></p>
    <p>Title: <%= post.post_title %></p>
    <p>Post:<%= post.post_body %></p>
    <p>Author ID:<%= post.author_id %></p>
    <a href="/blog/user/<%= post.id %>/update">Edit post</a> | <a href="/blog/user/<%= post.id %>/delete">Delete post</a>
</div>
 